.content {
  margin: 20px;
  height: 100%;
  .button-box {
    background-color: #ffffff;
    display: flex;
    min-height: 50px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
  }
  .table-box {
    background-color: #ffffff;
    overflow-x: auto;
  }
}
