<div class="content" role="main">
  <div class="button-box">
    <button nz-button nzType="primary" [disabled]="loading" (click)="getPoster()">Search</button>
  </div>
  <div class="table-box">
    <nz-table
      #headerTable
      [nzData]="listOfData"
      [nzPageSize]="50"
      [nzLoading]="loading"
    >
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of headerTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.mobile }}</td>
        <td>{{ data.email }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

